<tbody>
  <tr>
    <td style="box-sizing:border-box;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;vertical-align:top" valign="top">
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">
      Hi <%=@user.first_name%>,
      </p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">
      You have got a new booking from <%=@booking.student.user.full_name%> the booking is as follows:
      </p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">
      <%=@booking.booked_days%>
      <%=@booking.time.strftime("at %I:%M%p")%>
      </p>
      <p>
      Click the link below to see the booking details
      </p>
      <p>
      <strong><a href="http://localhost:3001/bookings/<%= @booking.student.booking_count %>/verify/<%= @booking.student.id %>" style="box-sizing:border-box;color:#5087F5;font-weight:bold;text-decoration:underline" target="_blank">Click this link to confirm.</a></strong>
      </p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">With love,</p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">The Eva妈妈 team.</p>
    </td>
  </tr>
</tbody>
